page-photopage {
   
    .foto-div{
        width: 6em;
        height: 6em;
        border-radius: 40%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        background-position-y: 0;
        margin-top: 0em;
        margin-left: 8em;
        border: 3px salod #ffffff;   
       
    }

    .example {
        color: #06358d;
        font-size : 20px;
        }

       
      

}
